rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isTeacher() {
      return request.auth != null
        && request.auth.uid == "YkYUzIzy0aW7roolM1VaLcIJPuN2";
    }

    function isStudent(classroomId, studentId) {
      return request.auth != null
        && request.auth.token.role == "student"
        && request.auth.token.classroomId == classroomId
        && request.auth.token.studentId == studentId;
    }

    match /morganBank/{document=**} {
      allow read, write: if isTeacher();
    }

    match /classrooms/{document=**} {
      allow read, write: if isTeacher();
    }

    match /studentAuthLogs/{logId} {
      allow read: if isTeacher();
    }

    match /classrooms/{classroomId}/students/{studentId} {
      allow read: if isStudent(classroomId, studentId);
    }
  }
}
