rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isTeacher() {
      return request.auth != null
        && request.auth.uid == "YkYUzIzy0aW7roolM1VaLcIJPuN2";
    }

    match /morganBank/classroomData {
      allow read, write: if isTeacher();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
